<a href="https://colab.research.google.com/github/siamrahman495/my-first-web/blob/main/class_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

color=["black","red","blue","white","green"]
user_color=input("Enter the color:")
print(user_color in color)


l=[12,33,55,66,77,88]
print(id(l))
print(id(l[0]))
print(id(l[1]))
print(id(l[2]))
print(id(l[3]))

a=10
b=12
print(a&2)

print(a>>2)
print(a<<2)

Enter the color:red
True
136824845449792
136825058837072
136825058837744
136825058838448
136825058838800
2
2
40

In [9]:
sum_of_odds = 0


for num in range(50, 0, -1):
    if num % 2 != 0:
        sum_of_odds += num

print("Sum of odd numbers from 50 to 1:", sum_of_odds)

Sum of odd numbers from 50 to 1: 625

In [13]:
sum = 0
i=10
while i <= 50:
  sum += i
  i+=1
  print(sum)

10
21
33
46
60
75
91
108
126
145
165
186
208
231
255
280
306
333
361
390
420
451
483
516
550
585
621
658
696
735
775
816
858
901
945
990
1036
1083
1131
1180
1230

In [6]:
number = int(input("Enter an integer: "))


if(number % 3 == 0 and number % 5 == 0):
    print("Divisible by 3 and 5")
else:
    print("Not divisible by 3 and 5")

Enter an integer: 15
Divisible by 3 and 5

In [7]:

number = int(input("Enter a positive integer: "))


sum_of_digits = 0


while number > 0:
    digit = number % 10  # Get the last digit
    sum_of_digits += digit  # Add it to the sum
    number //= 10  # Remove the last digit


print("Sum of digits:", sum_of_digits)

Enter a positive integer: 554
Sum of digits: 14

In [14]:

number = int(input("Enter a number: "))


for i in range(1, 13):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number: 55
55 x 1 = 55
55 x 2 = 110
55 x 3 = 165
55 x 4 = 220
55 x 5 = 275
55 x 6 = 330
55 x 7 = 385
55 x 8 = 440
55 x 9 = 495
55 x 10 = 550
55 x 11 = 605
55 x 12 = 660

In [15]:

numbers = []


while True:
    num = int(input("Enter a number (-1 to stop): "))
    if num == -1:
        break

    numbers.append(num)

if len(numbers) > 0:
    largest_number = max(numbers)
    print("The largest number is:", largest_number)
else:
    print("No numbers were entered.")

Enter a number (-1 to stop): 5
Enter a number (-1 to stop): 7
Enter a number (-1 to stop): 9
Enter a number (-1 to stop): 23
Enter a number (-1 to stop): 44
Enter a number (-1 to stop): 1
Enter a number (-1 to stop): -1
The largest number is: 44