<a href="https://colab.research.google.com/github/siamrahman495/my-first-web/blob/main/class_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
set = {1, 2, 3, 4, 5}

new_item = int(input("Enter a new item to add to the set:"))
set.add(new_item)

print("updated set:, set")

Enter a new item to add to the set:44
updated set:, set

In [3]:
set

{1, 2, 3, 4, 5, 44}

In [4]:
set = {1, 2, 3, 4, 5}
set.clear()
print("Empty set", set)

Empty set set()

In [9]:
# Create an empty set
my_set = set()

# Get 5 items from the user
for i in range(5):
    item = input(f"Enter item {i + 1}: ")
    my_set.add(item)

# Display items in lower and upper case
print("\nItems in lower case:")
for item in my_set:
    print(item.lower())

print("\nItems in upper case:")
for item in my_set:
    print(item.upper())

TypeError: 'set' object is not callable

In [11]:

my_set = {"apple", "banana", "cherry"}

print("Current Set:", my_set)

new_item = input("Enter an item to update the set: ")

my_set.add(new_item)

print("Updated Set:", my_set)

Current Set: {'banana', 'apple', 'cherry'}
Enter an item to update the set: 55
Updated Set: {'55', 'banana', 'apple', 'cherry'}

In [13]:
# Create an empty set to store the numbers
numbers = set()

# Loop to get 5 numbers from the user
for i in range(5):
    # Ensure that the user enters a valid number
    while True:
        try:
            num = float(input(f"Enter number {i + 1}: "))
            numbers.add(num)  # Add the number to the set
            break  # Exit the loop if the number is valid
        except ValueError:
            print("Invalid input! Please enter a valid number.")

# Calculate the sum and product of the numbers in the set
sum_of_numbers = sum(numbers)
product_of_numbers = 1
for num in numbers:
    product_of_numbers *= num

# Display the results
print("\nNumbers in the set:", numbers)
print("Sum of the numbers:", sum_of_numbers)
print("Product of the numbers:", product_of_numbers)

TypeError: 'set' object is not callable

In [ ]:
# Create a set with some initial items
my_set = {1, 2, 3, 4, 5, 6}

# Display the current set
print("Current Set:", my_set)

# Ask the user which item to remove
item_to_remove = input("Enter the item to remove: ")

# Check if the item exists in the set and remove it
if item_to_remove.isdigit():
    item_to_remove = int(item_to_remove)
    if item_to_remove in my_set:
        my_set.remove(item_to_remove)
        print(f"Item {item_to_remove} removed successfully.")
    else:
        print(f"Item {item_to_remove} not found in the set.")
else:
    print("Please enter a valid number.")

# Display the updated set
print("Updated Set:", my_set)

In [ ]:
my_set = {1, 2, 3, 4, 5, 6}
print("Current Set:", my_set)
item_to_remove = input("Enter the item to remove: ")
if item_to_remove.isdigit():
    item_to_remove = int(item_to_remove)
    if item_to_remove in my_set:
        my_set.remove(item_to_remove)
        print(f"Item {item_to_remove} removed successfully.")
    else:
        print(f"Item {item_to_remove} not found in the set.")
else:
    print("Please enter a valid number.")
print("Updated Set:", my_set)

In [ ]:
set1 = set()
for i in range(5):
    item = input(f"Enter item {i + 1} for the first set: ")
    set1.add(item)
set2 = set()
for i in range(5):
    item = input(f"Enter item {i + 1} for the second set: ")
    set2.add(item)
subtraction_result = set1 - set2
print("\nFirst Set:", set1)
print("Second Set:", set2)
print("Subtraction of First Set - Second Set:", subtraction_result)

In [ ]:
set1 = set()
for i in range(5):
    item = input(f"Enter item {i + 1} for the first set: ")
    set1.add(item)
set2 = set()
for i in range(5):
    item = input(f"Enter item {i + 1} for the second set: ")
    set2.add(item)
union_result = set1 | set2
print("\nFirst Set:", set1)
print("Second Set:", set2)
print("Union of both sets (excluding duplicates):", union_result)

In [ ]:
set1 = set()
for i in range(5):
    item = input(f"Enter item {i + 1} for the first set: ")
    set1.add(item)
set2 = set()
for i in range(5):
    item = input(f"Enter item {i + 1} for the second set: ")
    set2.add(item)
union_result = set1 | set2
print("\nFirst Set:", set1)
print("Second Set:", set2)
print("Union of both sets (excluding duplicates):", union_result)

In [14]:
odd_numbers = {num for num in range(1, 101) if num % 2 != 0}
print(odd_numbers)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

In [15]:
students = {"Alice", "Bob", "Emma", "Sofia", "Mark", "Anna"}
students_ending_with_a = {student for student in students if student.endswith('a')}
print(students_ending_with_a)

{'Sofia', 'Emma', 'Anna'}

In [ ]:
set1 = set(input("Enter elements of first set (separate by space): ").split())
set2 = set(input("Enter elements of second set (separate by space): ").split())

intersection = set1 & set2
print("Intersection of the sets:", intersection)

In [ ]:
set1 = set(input("Enter elements of first set (separate by space): ").split())
set2 = set(input("Enter elements of second set (separate by space): ").split())

if set1.issubset(set2):
    print("First set is a subset of the second set.")
elif set2.issubset(set1):
    print("Second set is a subset of the first set.")
else:
    print("Neither set is a subset of the other.")

In [ ]:
my_set = {1, 2, 3, 4, 5}
print("Initial Set:", my_set)

item_to_remove = int(input("Enter the item to remove from the set: "))
if item_to_remove in my_set:
    my_set.remove(item_to_remove)
    print(f"Item {item_to_remove} removed from the set.")
else:
    print(f"Item {item_to_remove} not found in the set.")

print("Set after removal:", my_set)

my_set.add(item_to_remove)
print("Set after adding the removed item back:", my_set)

In [ ]:
my_set = set()
for i in range(5):
    item = input(f"Enter item {i + 1}: ")
    my_set.add(item)

print("\nItems in the set with their lengths:")
for item in my_set:
    print(f"{item} - Length: {len(item)}")

In [ ]:
user_list = []
for i in range(5):
    item = input(f"Enter item {i + 1}: ")
    user_list.append(item)

user_set = set()
user_set.add(frozenset(user_list))

print("Set after adding the list:", user_set)

In [ ]:
# Get user input
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
email = input("Enter your email address: ")
contact_number = input("Enter your contact number: ")

# Format the string in different styles
formatted_style1 = f"Full Name: {first_name} {last_name}\nEmail: {email}\nContact Number: {contact_number}"
formatted_style2 = "Full Name: {} {}\nEmail: {}\nContact Number: {}".format(first_name, last_name, email, contact_number)
formatted_style3 = "Full Name: %s %s\nEmail: %s\nContact Number: %s" % (first_name, last_name, email, contact_number)

# Display the formatted strings
print("\nFormatted Style 1:\n", formatted_style1)
print("\nFormatted Style 2:\n", formatted_style2)
print("\nFormatted Style 3:\n", formatted_style3)

In [ ]:

physics = float(input("Enter marks in Physics: "))
chemistry = float(input("Enter marks in Chemistry: "))
math = float(input("Enter marks in Math: "))

total_marks = physics + chemistry + math
average_marks = total_marks / 3

formatted_string = f"Hi, Your marks in Physics = {physics}, Chemistry = {chemistry}, Math = {math}. "\
                   f"And Your Total Marks is {total_marks} and Average is {average_marks:.2f}."

print(formatted_string)