<a href="https://colab.research.google.com/github/siamrahman495/my-first-web/blob/main/Copy_of_personal_wark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#numeric data type
age=34#int
print(age)

marks=89.9 #float data type
print(marks)

complex_number=10+20j
print(complex_number)

#string data type
name="Al siam ar rahman"
print(name)

#sequence data type
#list data type
city=["Dhaka","khula","Dinajpur"]
city=[20,40.6,"dinajpur"]
latter=["a","b","c","d","e"]
print(city)
print(latter[3])

34
89.9
(10+20j)
Al siam ar rahman
[20, 40.6, 'dinajpur']
d

In [ ]:
#tuple data type
number=["2","4","6","8","10"]
print(number)
#duplicate value
duplicate=["a","b","c","2","d","e","2","4","6","8","10"]
print(duplicate)

#range data type
numbers=range(1,10)
numbers2=range(1,18,2)
print(*numbers2)

['2', '4', '6', '8', '10']
['a', 'b', 'c', '2', 'd', 'e', '2', '4', '6', '8', '10']
1 3 5 7 9 11 13 15 17

In [ ]:
#positive indexing
text="al siam ar rahman"
print(text[4])
print(text[8])
#negetive indexing
text="al siam ar rahman"
print(text[-1])
#string slicing
#stop string slicing
print(text[0:2])#1st to 2
print(text[6:7])
print(text[6:])#last to 6
print(text[:7])#1st to 7
#step index slicing
print(text[0::3]) #3 mane 3 step por por kata suru korbe

i
a
n
al
m
m ar rahman
al siam
asmraa

In [ ]:

#string repetition
name="i love bangladesh, "
repeat=name*100
print(repeat)

#string concatention jora lagano
str1="siam"
str2="rahman"
combine=str1+str2
print(combine)

i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh, i love bangladesh,
siamrahman

In [ ]:
#boolean data type
#from pkg_resources import non_empty_lines

isBangladeshi=True
print(isBangladeshi)

#none data type

taka=None
print(taka)

#dict type
person={
    'first_name': 'siam',
    'last_name':'rahman',
    'age':'34',
    'isBangladeshi':True
}
print(person)
print(person['age'])

#set

unique_numbers={1,2,3,3,1,2}
print(unique_numbers)

#frozenset- immutable
unique_numbers={1,2,3,3,1,6,8,8,9,9,0,0,2}
print(unique_numbers)

True
None
{'first_name': 'siam', 'last_name': 'rahman', 'age': '34', 'isBangladeshi': True}
34
{1, 2, 3}
{0, 1, 2, 3, 6, 8, 9}

In [ ]:
#boolean data type
#from pkg_resources import non_empty_lines

isBangladeshi=True
print(isBangladeshi)

#none data type

taka=None
print(taka)

#dict type
person={
    'first_name': 'siam',
    'last_name':'rahman',
    'age':'34',
    'isBangladeshi':True
}
print(person)
print(person['age'])

#set

unique_numbers={1,2,3,3,1,2}
print(unique_numbers)

#frozenset- immutable
unique_numbers={1,2,3,3,1,6,8,8,9,9,0,0,2}
print(unique_numbers)

#mutable data
#list nia kj korbo
l=[1,2,3,4]
first_location=id(l)
print(first_location)
l[0]=4
second_location=id(l)
print(second_location)

#set nia kaj korbo
s=[1,2,3,4]
first_location=id(s)
print(first_location)
s[0]=4
second_location=id(s)
print(second_location)

True
None
{'first_name': 'siam', 'last_name': 'rahman', 'age': '34', 'isBangladeshi': True}
34
{1, 2, 3}
{0, 1, 2, 3, 6, 8, 9}
135495262124160
135495262124160
135495262124416
135495262124416